* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-width: 1px;
    outline-color: blue;
    outline-style: solid; */
}
body {
  background-color: #ffffff;
}
section {
  padding: 2rem;
}
#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #3f4255;
  transition: transform 0.3s ease;
}

#site-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3f4255;
  transform: translateX(-100%);
}

#site-header .logo {
  display: flex;
  align-items: center;
  flex-basis: 85%;
  animation: glowLogo 4s ease-in-out infinite alternate;
}

@keyframes glowLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
#site-header .header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 15%;
}
#site-header .login,
#site-header .cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 0.5rem;
}
#site-header .login a,
#site-header .cart-count {
  text-decoration: none;
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 600;
  color: #605f5f;
}
#site-header .login {
  animation: bounceAndFade 3s ease-in-out infinite;
}

#site-header .login img {
  animation: bounce 2s ease-in-out infinite;
}

#site-header .login a {
  position: relative;
  text-decoration: none;
  animation: fadeText 3s ease-in-out infinite;
}

@keyframes bounceAndFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fadeText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
#site-header .cart {
  animation: bounceAndFade 3s ease-in-out infinite;
}

#site-header .cart img {
  animation: bounce 2s ease-in-out infinite;
}

#site-header .cart .cart-count {
  position: relative;
  text-decoration: none;
  animation: fadeText 3s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fadeText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

#site-header .login a::after,
#site-header .cart .cart-count::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

#site-header .login a:hover::after,
#site-header .cart .cart-count:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#site-header .burger-menu {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

#site-header .burger-menu .line {
  width: 100%;
  height: 3px;
  background-color: #3f4255;
  transition: all 0.3s ease;
}

#site-header .burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#site-header .burger-menu.active .line:nth-child(2) {
  opacity: 0;
}

#site-header .burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

#site-navigation {
  position: fixed;
  top: 16%;
  right: -100%;
  height: 100%;
  width: 40%;
  transition: right 0.5s ease;
  z-index: 10000;
  background-color: #ffffff;
}

#site-navigation.active {
  right: 0;
}

#site-navigation .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  list-style: none;
}

#site-navigation .nav-menu li {
  margin: 1rem 0;
}

#site-navigation .nav-menu li a {
  font-family: "Manrope";
  font-size: 1.5rem;
  color: #605f5f;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

#site-navigation .nav-menu li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: yellow;
  transition: width 0.3s ease, left 0.3s ease;
}

#site-navigation .nav-menu li a:hover::before {
  width: 100%;
  left: 0;
}

#site-navigation .nav-menu li a:hover {
  color: #3f4255;
  transform: translateX(5px);
}
@media (max-width: 1024px) {
  #site-header .logo {
    flex-basis: 80%;
  }
  #site-header .header-icons {
    flex-basis: 20%;
  }
}
@media (max-width: 768px) {
  #site-header .logo {
    flex-basis: 70%;
  }
  #site-header .header-icons {
    flex-basis: 30%;
  }
  #site-navigation {
    width: 50%;
  }
}
@media (max-width: 480px) {
  #site-header {
    padding: 1.5rem;
  }
  #site-header .logo {
    flex-basis: 50%;
  }
  #site-header .header-icons {
    justify-content: center;
    gap: 0.5rem;
    flex-basis: 50%;
  }
  #site-navigation {
    top: 19%;
    width: 100%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 0.5s;
}
#hero-section .text-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-section .left-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#hero-section .right-image {
  flex: 1;
  display: flex;
  align-items: center;
}
#hero-section .right-image img {
  object-fit: cover;
  width: 100%;
}
@keyframes fadeInUpTitle {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#hero-section .left-text h1 {
  font-family: "Georgia";
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 4rem);
  color: #3f4255;
  opacity: 0;
  animation: fadeInUpTitle 1.5s ease-out forwards;
  animation-delay: 0.5s;
}
#hero-section .left-text .buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@keyframes borderHoverEffect {
  0% {
    border-color: transparent yellow yellow transparent;
  }
  25% {
    border-color: yellow transparent yellow yellow;
  }
  50% {
    border-color: yellow yellow transparent yellow;
  }
  75% {
    border-color: yellow yellow yellow transparent;
  }
  100% {
    border-color: transparent yellow yellow transparent;
  }
}

#hero-section .hero-button-container {
  padding: 1.5rem 2rem;
  border: 2px solid yellow;
  border-radius: 4px;
  transition: all 0.3s ease;
}
#hero-section .hero-button-container:hover {
  animation: borderHoverEffect 1.5s infinite linear;
}

#hero-section .left-text .buttons a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-section .button-text {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: #3f4255;
  transition: color 0.3s ease, transform 0.3s ease;
}
#hero-section .button-subtext {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  color: #3f4255;
  transition: color 0.3s ease, transform 0.3s ease;
}
#hero-section .hero-button-container:hover .button-text,
#hero-section .hero-button-container:hover .button-subtext {
  color: yellowgreen;
  transform: scale(1.05);
}

#hero-section .icons-and-text-blocks {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 9px 34px rgba(0, 0, 0, 0.1);
  align-items: center;
  width: fit-content;
}

#hero-section .icons-and-text-block {
  display: flex;
  padding: 1rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
  gap: 1rem;
}

#hero-section .icons-and-text-block:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#hero-section .icon {
  object-fit: cover;
  transition: transform 0.3s ease;
}

#hero-section .icons-and-text-block:hover .icon {
  transform: scale(1.1);
}

#hero-section .icons-and-text-block p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1rem;
  color: #3f4255;
}

#scroll-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #3f4255;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  display: none;
  z-index: 10000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scroll-up:hover {
  background-color: yellow;
  color: #3f4255;
  transform: scale(1.1);
}

#scroll-up i {
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  #hero-section {
    align-items: center;
    gap: 1rem;
  }
  #hero-section .text-image {
    flex-direction: column;
    gap: 1rem;
  }
  #hero-section .left-text {
    align-items: center;
  }
  #hero-section .icons-and-text-blocks {
    gap: 0rem;
    padding: 0rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
#restaurants,
#specialities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#restaurants .restaurants-header,
#specialities .specialities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#restaurants .show-more,
#specialities .show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #3f4255;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

#restaurants .show-more a,
#specialities .show-more a {
  text-decoration: none;
  font-family: "Manrope";
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease;
}

#restaurants .show-more:hover,
#specialities .show-more:hover {
  background-color: #575b71;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#restaurants .show-more a::before,
#specialities .show-more a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

#restaurants .show-more:hover a,
#specialities .show-more:hover a {
  color: #ffffff;
}

#restaurants .show-more:hover a::before,
#specialities .show-more:hover a::before {
  transform: scaleX(1);
  transform-origin: left;
}

#restaurants .restaurants-header h2{
  font-family: "Georgia";
  font-size: clamp(2rem, 3vw, 4rem);
  color: #3f4255;
  font-weight: 500;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#restaurants .restaurants-header h2.animate {
  opacity: 1;
  transform: translateY(0);
}

#restaurants .menu-items-wrapper {
  position: relative;
  width: 94vw;
}

#restaurants .menu-prev,
#restaurants .menu-next {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

#restaurants .menu-prev {
  left: -2vw;
}

#restaurants .menu-next {
  right: -2vw;
}

#restaurants .menu-prev img,
#restaurants .menu-next img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
#restaurants .menu-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#restaurants .menu-item img {
  object-fit: cover;
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

#restaurants .menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#restaurants .menu-item:hover img {
  transform: scale(1.1);
}

#restaurants .menu-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#restaurants .menu-item:hover:before {
  opacity: 1;
}

@media (max-width: 1024px) {
  #restaurants .menu-prev {
    left: -3vw;
  }

  #restaurants .menu-next {
    right: -3vw;
  }
}
@media (max-width: 480px) {
  #restaurants .menu-items-wrapper {
    width: 100%;
  }
  #restaurants .menu-prev {
    left: -4vw;
  }

  #restaurants .menu-next {
    right: -4vw;
  }
}

#adress {
  background-color: #d4d7e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  animation: float 4s infinite ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#adress .adress-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#adress .adress-text h2 {
  font-family: "Georgia";
  font-size: clamp(2rem, 3vw, 4rem);
  color: #3f4255;
  font-weight: 500;
  text-align: center;
}
#adress .adress-text p {
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}

#address-input {
  flex: 1;
  padding: 1.5rem 3rem;
  border: 2px solid transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#address-input:hover {
  background-color: #f2f2f2;
  border-color: yellow;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

#search-button {
  padding: 1.5rem 3rem;
  background-color: #f2c94c;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #e0b945;
  animation: pulse 0.6s infinite alternate;
}

.input-icon {
  position: absolute;
  pointer-events: none;
  top: 2.3rem;
  left: 10rem;
}
@media (max-width: 768px) {
  #adress {
    flex-direction: column;
  }
  .input-icon {
    top: 2.5rem;
    left: 2rem;
  }
}
@media (max-width: 480px) {
  #adress {
    flex-direction: column;
    height: 60vh;
    padding: 0;
  }
  #adress .adress-text p {
    width: 90%;
  }
  #address-input{
    padding: 1.5rem 1rem;
    
}
}

#specialities .specialities-items-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#specialities .specialities-items {
  width: 100%;
  margin: 0 auto;
}

#specialities .specialities-item {
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;

}
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}



.specialities-item:hover {
  animation: float 2s infinite ease-in-out;
}

#specialities .specialities-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

#specialities .menu-prev,
#specialities .menu-next {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

#specialities .menu-prev {
  left: -2vw;
}

#specialities .menu-next {
  right: -2vw;
}

#specialities.menu-prev img,
#specialities .menu-next img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
#specialities .specialities-header h2 {
  font-family: "Georgia";
  font-size: clamp(2rem, 3vw, 4rem);
  color: #3f4255;
  font-weight: 500;
}
@media (max-width: 1024px) {
  #specialities .menu-prev {
    left: -4vw;
  }

  #specialities .menu-next {
    right: -4vw;
  }
}
@media (max-width: 768px) {
  #specialities .menu-prev {
    left: -8vw;
  }

  #specialities .menu-next {
    right: -8vw;
  }
}
@media (max-width: 480px) {
  #specialities .specialities-items-wrapper {
    width: 100%;
  }
}
